extends ../layouts/common3.pug

block content
  h1 Add new word

  if errors
    each error in errors
      .alert.alert-danger= error

  form(action="/add", method="POST")
    .form-group
      label(for="wordName") Word name
      input#wordName.form-control(name="wordName", type="text")
    .form-group
      label(for="symbol") Phonetic symbol
      input#symbol.form-control(name="symbol", type="text")
    .form-group
      label(for="VnMeaning") Vietnamese meaning
      input#VnMeaning.form-control(name="VnMeaning", type="text")
    .form-group
      label(for="EnMeaning") English meaning
      input#EnMeaning.form-control(name="EnMeaning", type="text")
    .form-group
      label(for="difMean") Difference mean
      input#difMean.form-control(name="difMean", type="text")
    .form-group
      label(for="image") Link image
      input#image.form-control(name="image", type="text")
    
    

    button.btn.btn-primary Add